.hero-header {
  background-image: url('../../assets/img/carousel-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.facility-icon::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9999px;
  transition: background 0.5s ease;
  z-index: 5;
}

.facility-item:hover .facility-icon::before {
  background: transparent;
}

.facility-icon-span {
  position: absolute;
  width: 20px;
  height: 35px;
  top: 0;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1;
}

.facility-icon-span.left-0 {
  left: 0;
}

.facility-icon-span.right-0 {
  right: 0;
}

.facility-text::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9999px;
  transition: background 0.5s ease;
  z-index: 5;
}

.facility-item:hover .facility-text::before {
  background: transparent;
}

.facility-item > * * {
  z-index: 10;
}

.facility-item * {
  transition: color 0.5s;
}

.facility-item:hover * {
  color: #fff !important;
}
.about-img img {
  background-color: #fff5f3;

  transition: 0.5s;
}

.about-img img:hover {
  background: #fe5d37 !important;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
